body {
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 300;
    background: #f4f4f4;
}

h2 {
    font-family: "Roboto", serif;
    font-weight: 400;
    margin-top: 0;
}

.text--bold {
    font-weight: 600;
}

.text--yellow {
    color: #ff8700;
}

.box {
    border-radius: 5px;
    padding: 15px;
    background: white;
    border: 1px solid #3333332b;
}

.box--shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

.spacer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.hover--opacity:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all .2s;
}

.display-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    padding: 5px 15px;
    border: 1px solid #0000002e;
    background: #80808017;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.hero {
    height: 200px;
    margin: 0 7px;
    background: url(/static/images/paafm.jpg);
    background-size: cover;
    background-position: 0 20%;
    display: flex;
    align-items: center;
}

.hero>div {
    color: white;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;

}

.hero span:first-child {}